{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}

<br><img style="background-color: #fff; height: unset; width: unset;" alt="Hyperledger Fabric" src={{ pathto("_images/hyperledger_fabric_logo_color.png",1) }} />
<br>
<a href="https://bitbucket.org/changjinkim/m3"><img style="padding: 0px; margin: auto auto auto auto;" alt="GitHub" src="{{ pathto("_static/images/github_button.png", 1) }}"/></a>
&nbsp;<a href="https://stackoverflow.com/questions/tagged/hyperledger-fabric"><img style="padding: 0px; margin: auto auto auto auto;" alt="StackOverflow" src="{{ pathto("_static/images/stackoverflow_button.png", 1) }}"/></a>
&nbsp;<a href="https://chat.hyperledger.org"><img style="padding: 0px; margin: auto auto auto auto;" alt="Rocket Chat" src="{{ pathto("_static/images/rocketchat_button.png", 1) }}"/></a>
&nbsp;<a href="https://www.youtube.com/playlist?list=PL0MZ85B_96CH7wvtrRzV7SvtRY0sI0DEg"><img style="padding: 0px; margin: auto auto auto auto;" alt="Youtube Channel" src="{{ pathto("_static/images/youtube_button.png", 1) }}"/></a>
{% endblock %}
